#imHeader_imCell_1 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_01 {overflow: hidden; text-align: left; }
#imHeader_imObjectTitle_01_text {font: normal normal bold 16pt 'Verdana';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_01_text,
#imHeader_imObjectTitle_01_text a { color: #000000; white-space: pre; }
#imHeader_imObjectTitle_01_text a{ text-decoration: none; }
#imGroup_1 { float: left; }
#imGroup_1 > div { float: right; }
#imGroup_2 > div { float: left; }
#imGroup_3 > div { float: left; }
#imCell_2 { display: block; position: relative; overflow: hidden; }
#imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_02 { width: 100%; vertical-align: top; max-width: 150px; }
#imGroup_4 > div { float: right; }
#imCell_4 { display: block; position: relative; overflow: hidden; }
#imCellStyle_4 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_04 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_5 { display: block; position: relative; overflow: hidden; }
#imCellStyle_5 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_05 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_25 { display: block; position: relative; overflow: hidden; }
#imCellStyle_25 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_25 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_25 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_34 { display: block; position: relative; overflow: hidden; }
#imCellStyle_34 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_34 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imGroup_6 > div { float: left; }
#imCell_3 { display: block; position: relative; overflow: hidden; }
#imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_03 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_22 { display: block; position: relative; overflow: hidden; }
#imCellStyle_22 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_22 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_22 { width: 100%; vertical-align: top; max-width: 150px; }
#imGroup_7 > div { float: right; }
#imCell_6 { display: block; position: relative; overflow: hidden; }
#imCellStyle_6 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_6 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_06 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_9 { display: block; position: relative; overflow: hidden; }
#imCellStyle_9 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_9 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_09 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_35 { display: block; position: relative; overflow: hidden; }
#imCellStyle_35 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_35 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imGroup_9 > div { float: left; }
#imCell_12 { display: block; position: relative; overflow: hidden; }
#imCellStyle_12 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_12 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_12 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_26 { display: block; position: relative; overflow: hidden; }
#imCellStyle_26 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_26 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_26 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_27 { display: block; position: relative; overflow: hidden; }
#imCellStyle_27 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_27 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_27 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_11 { display: block; position: relative; overflow: hidden; }
#imCellStyle_11 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_11 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_11 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_36 { display: block; position: relative; overflow: hidden; }
#imCellStyle_36 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_36 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imGroup_11 > div { float: left; }
#imGroup_12 > div { float: right; }
#imCell_23 { display: block; position: relative; overflow: hidden; }
#imCellStyle_23 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_23 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_23 { width: 100%; vertical-align: top; max-width: 150px; }
#imGroup_13 > div { float: left; }
#imCell_28 { display: block; position: relative; overflow: hidden; }
#imCellStyle_28 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_28 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_28 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_33 { display: block; position: relative; overflow: hidden; }
#imCellStyle_33 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_33 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_33 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_31 { display: block; position: relative; overflow: hidden; }
#imCellStyle_31 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_31 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_31 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_37 { display: block; position: relative; overflow: hidden; }
#imCellStyle_37 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_37 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imCell_38 { display: block; position: relative; overflow: hidden; }
#imCellStyle_38 { position: relative; box-sizing: border-box; text-align: left; z-index: 2;}
#imCellStyleGraphics_38 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
@media (min-width: 1270px) {
	.imContentDataContainer { width: 1267px; margin-left: auto; margin-right: auto; padding: 0 0px 0 0px; }
	#imGroup_1 { width: 1267px; }
	#imGroup_2 { width: 959px; }
	#imGroup_3 { width: 959px; }
	#imCell_2 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_4 { width: 320px; }
	#imCell_4 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_5 { width: 319px; height: 52px; }
	#imCell_34 { width: 957px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 957px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_6 { width: 959px; }
	#imCell_3 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_3 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 1px; right: 1px; }
	#imCell_22 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_22 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 1px; right: 1px; }
	#imGroup_7 { width: 320px; }
	#imCell_6 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_6 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 1px; right: 1px; }
	#imCell_9 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_9 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 1px; right: 1px; }
	#imGroup_8 { width: 319px; height: 52px; }
	#imCell_35 { width: 957px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 957px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_9 { width: 959px; }
	#imCell_12 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_12 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 1px; right: 1px; }
	#imCell_26 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_26 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 1px; right: 1px; }
	#imCell_27 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_27 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 1px; right: 1px; }
	#imCell_11 { width: 158px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_11 { width: 158px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 1px; right: 1px; }
	#imGroup_10 { width: 319px; height: 52px; }
	#imCell_36 { width: 957px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 957px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_11 { width: 959px; }
	#imGroup_12 { width: 640px; }
	#imCell_23 { width: 154px; min-height: 56px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_23 { width: 154px; min-height: 56px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 3px; right: 3px; }
	#imGroup_13 { width: 480px; }
	#imCell_28 { width: 158px; min-height: 60px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 158px; min-height: 60px; padding: 0px 0px 10px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 158px; min-height: 60px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 158px; min-height: 60px; padding: 0px 0px 10px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 154px; min-height: 56px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_31 { width: 154px; min-height: 56px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 3px; right: 3px; }
	#imGroup_14 { width: 319px; height: 62px; }
	#imCell_37 { width: 957px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 957px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_15 { width: 959px; height: 34px; }
	#imCell_38 { width: 308px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 308px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 1269px) and (min-width: 1030px) {
	.imContentDataContainer { width: 1019px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 1019px; }
	#imGroup_2 { width: 772px; }
	#imGroup_3 { width: 772px; }
	#imCell_2 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_4 { width: 258px; }
	#imCell_4 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_5 { width: 256px; height: 44px; }
	#imCell_34 { width: 770px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 770px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_6 { width: 772px; }
	#imCell_3 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_3 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 1px; right: 1px; }
	#imCell_22 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_22 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 1px; right: 1px; }
	#imGroup_7 { width: 258px; }
	#imCell_6 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_6 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 1px; right: 1px; }
	#imCell_9 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_9 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 1px; right: 1px; }
	#imGroup_8 { width: 256px; height: 44px; }
	#imCell_35 { width: 770px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 770px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_9 { width: 772px; }
	#imCell_12 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_12 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 1px; right: 1px; }
	#imCell_26 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_26 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 1px; right: 1px; }
	#imCell_27 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_27 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 1px; right: 1px; }
	#imCell_11 { width: 127px; min-height: 42px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_11 { width: 127px; min-height: 42px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 1px; right: 1px; }
	#imGroup_10 { width: 256px; height: 44px; }
	#imCell_36 { width: 770px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 770px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_11 { width: 772px; }
	#imGroup_12 { width: 516px; }
	#imCell_23 { width: 125px; min-height: 46px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_23 { width: 125px; min-height: 46px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 2px; right: 2px; }
	#imGroup_13 { width: 387px; }
	#imCell_28 { width: 127px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 127px; min-height: 50px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 127px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 127px; min-height: 50px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 125px; min-height: 46px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_31 { width: 125px; min-height: 46px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 2px; right: 2px; }
	#imGroup_14 { width: 256px; height: 52px; }
	#imCell_37 { width: 770px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 770px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_15 { width: 772px; height: 68px; }
	#imCell_38 { width: 247px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 247px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 1029px) and (min-width: 800px) {
	.imContentDataContainer { width: 790px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 790px; }
	#imGroup_2 { width: 598px; }
	#imGroup_3 { width: 598px; }
	#imCell_2 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_4 { width: 200px; }
	#imCell_4 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_5 { width: 198px; height: 35px; }
	#imCell_34 { width: 596px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 596px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_6 { width: 598px; }
	#imCell_3 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_3 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 1px; right: 1px; }
	#imCell_22 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_22 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 1px; right: 1px; }
	#imGroup_7 { width: 200px; }
	#imCell_6 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_6 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 1px; right: 1px; }
	#imCell_9 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_9 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 1px; right: 1px; }
	#imGroup_8 { width: 198px; height: 35px; }
	#imCell_35 { width: 596px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 596px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_9 { width: 598px; }
	#imCell_12 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_12 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 1px; right: 1px; }
	#imCell_26 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_26 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 1px; right: 1px; }
	#imCell_27 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_27 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 1px; right: 1px; }
	#imCell_11 { width: 98px; min-height: 33px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_11 { width: 98px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 1px; right: 1px; }
	#imGroup_10 { width: 198px; height: 35px; }
	#imCell_36 { width: 596px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 596px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_11 { width: 598px; }
	#imGroup_12 { width: 400px; }
	#imCell_23 { width: 96px; min-height: 36px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_23 { width: 96px; min-height: 36px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 2px; right: 2px; }
	#imGroup_13 { width: 300px; }
	#imCell_28 { width: 98px; min-height: 40px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 98px; min-height: 40px; padding: 0px 0px 7px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 98px; min-height: 40px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 98px; min-height: 40px; padding: 0px 0px 7px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 96px; min-height: 36px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_31 { width: 96px; min-height: 36px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 2px; right: 2px; }
	#imGroup_14 { width: 198px; height: 42px; }
	#imCell_37 { width: 596px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 596px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_15 { width: 598px; height: 105px; }
	#imCell_38 { width: 192px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 192px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 799px) and (min-width: 480px) {
	.imContentDataContainer { width: 468px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 468px; }
	#imGroup_2 { width: 354px; }
	#imGroup_3 { width: 354px; }
	#imCell_2 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_4 { width: 118px; }
	#imCell_4 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_5 { width: 118px; height: 21px; }
	#imCell_34 { width: 352px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 352px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_6 { width: 354px; }
	#imCell_3 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_3 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 1px; right: 1px; }
	#imCell_22 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_22 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 1px; right: 1px; }
	#imGroup_7 { width: 118px; }
	#imCell_6 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_6 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 1px; right: 1px; }
	#imCell_9 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_9 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 1px; right: 1px; }
	#imGroup_8 { width: 118px; height: 21px; }
	#imCell_35 { width: 352px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 352px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_9 { width: 354px; }
	#imCell_12 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_12 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 1px; right: 1px; }
	#imCell_26 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_26 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 1px; right: 1px; }
	#imCell_27 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_27 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 1px; right: 1px; }
	#imCell_11 { width: 57px; min-height: 19px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_11 { width: 57px; min-height: 19px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 1px; right: 1px; }
	#imGroup_10 { width: 118px; height: 21px; }
	#imCell_36 { width: 352px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 352px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_11 { width: 354px; }
	#imGroup_12 { width: 236px; }
	#imCell_23 { width: 57px; min-height: 23px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_23 { width: 57px; min-height: 23px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 1px; right: 1px; }
	#imGroup_13 { width: 177px; }
	#imCell_28 { width: 57px; min-height: 27px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 57px; min-height: 27px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 57px; min-height: 27px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 57px; min-height: 27px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 57px; min-height: 23px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_31 { width: 57px; min-height: 23px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 1px; right: 1px; }
	#imGroup_14 { width: 118px; height: 29px; }
	#imCell_37 { width: 352px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 352px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_15 { width: 354px; height: 160px; }
	#imCell_38 { width: 114px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 114px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 479px) {
	.imContentDataContainer { width: 100%; }
	#imGroup_1 { width: 100%; clear: left; }
	#imGroup_2 { width: 100%; clear: right; }
	#imGroup_3 { width: 100%; clear: left; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_2 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_2 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_4 { width: 100%; clear: left; }
	#imCell_4 { clear: right; }
	#imCell_4 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_4 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_4 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_5 { clear: right; }
	#imCell_5 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_5 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_5 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_25 { clear: left; }
	#imCell_25 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_25 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_25 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_5 { display: none; clear: left; }
	#imCell_34 { clear: left; }
	#imCell_34 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_34 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_34 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_6 { width: 100%; clear: left; }
	#imCell_3 { clear: left; }
	#imCell_3 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_3 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_3 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_22 { clear: left; }
	#imCell_22 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_22 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_22 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_7 { width: 100%; clear: left; }
	#imCell_6 { clear: right; }
	#imCell_6 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_6 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_6 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_9 { clear: right; }
	#imCell_9 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_9 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_9 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_8 { display: none; clear: left; }
	#imCell_35 { clear: left; }
	#imCell_35 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_35 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_35 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_9 { width: 100%; clear: left; }
	#imCell_12 { clear: left; }
	#imCell_12 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_12 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_12 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_26 { clear: left; }
	#imCell_26 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_26 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_26 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_27 { clear: left; }
	#imCell_27 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_27 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_27 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_11 { clear: left; }
	#imCell_11 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_11 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_11 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_10 { display: none; clear: left; }
	#imCell_36 { clear: left; }
	#imCell_36 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_36 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_36 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_11 { width: 100%; clear: left; }
	#imGroup_12 { width: 100%; clear: left; }
	#imCell_23 { clear: right; }
	#imCell_23 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_23 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_23 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_13 { width: 100%; clear: right; }
	#imCell_28 { clear: left; }
	#imCell_28 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_28 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_28 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_33 { clear: left; }
	#imCell_33 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_33 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_33 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_31 { clear: left; }
	#imCell_31 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_31 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_31 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_14 { display: none; clear: left; }
	#imCell_37 { clear: left; }
	#imCell_37 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_37 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_37 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_15 { display: none; clear: left; }
	#imCell_38 { display: none; clear: right; }
	#imCell_38 { width: 100%; min-height: 2px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imCellStyle_38 { width: 100%; min-height: 0px; padding: 1px 1px 1px 1px; }
	#imCellStyleGraphics_38 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	
}

@media (min-width: 1270px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 1269px) and (min-width: 1030px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 1029px) and (min-width: 800px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 799px) and (min-width: 480px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 479px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 100%; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_1 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_1 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

