#imHeader_imCell_1 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_01 {overflow: hidden; text-align: left; }
#imHeader_imObjectTitle_01_text {font: normal normal bold 16pt 'Verdana';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_01_text,
#imHeader_imObjectTitle_01_text a { color: #000000; white-space: pre; }
#imHeader_imObjectTitle_01_text a{ text-decoration: none; }
#imGroup_1 { float: left; }
#imGroup_1 > div { float: right; }
#imGroup_2 > div { float: left; }
#imGroup_3 > div { float: left; }
#imGroup_4 > div { float: left; }
#imCell_2 { display: block; position: relative; overflow: hidden; }
#imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_02 { width: 100%; vertical-align: top; max-width: 150px; }
#imGroup_5 > div { float: right; }
#imCell_4 { display: block; position: relative; overflow: hidden; }
#imCellStyle_4 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_04 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_5 { display: block; position: relative; overflow: hidden; }
#imCellStyle_5 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_05 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_25 { display: block; position: relative; overflow: hidden; }
#imCellStyle_25 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_25 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_25 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_34 { display: block; position: relative; overflow: hidden; }
#imCellStyle_34 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_34 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imGroup_7 > div { float: left; }
#imCell_3 { display: block; position: relative; overflow: hidden; }
#imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_03 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_22 { display: block; position: relative; overflow: hidden; }
#imCellStyle_22 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_22 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_22 { width: 100%; vertical-align: top; max-width: 150px; }
#imGroup_8 > div { float: right; }
#imCell_6 { display: block; position: relative; overflow: hidden; }
#imCellStyle_6 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_6 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_06 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_9 { display: block; position: relative; overflow: hidden; }
#imCellStyle_9 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_9 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_09 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_35 { display: block; position: relative; overflow: hidden; }
#imCellStyle_35 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_35 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imGroup_10 > div { float: left; }
#imCell_12 { display: block; position: relative; overflow: hidden; }
#imCellStyle_12 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_12 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_12 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_26 { display: block; position: relative; overflow: hidden; }
#imCellStyle_26 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_26 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_26 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_27 { display: block; position: relative; overflow: hidden; }
#imCellStyle_27 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_27 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_27 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_11 { display: block; position: relative; overflow: hidden; }
#imCellStyle_11 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_11 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_11 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_36 { display: block; position: relative; overflow: hidden; }
#imCellStyle_36 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_36 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imGroup_12 > div { float: left; }
#imGroup_13 > div { float: right; }
#imCell_23 { display: block; position: relative; overflow: hidden; }
#imCellStyle_23 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_23 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_23 { width: 100%; vertical-align: top; max-width: 150px; }
#imGroup_14 > div { float: left; }
#imCell_28 { display: block; position: relative; overflow: hidden; }
#imCellStyle_28 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_28 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_28 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_33 { display: block; position: relative; overflow: hidden; }
#imCellStyle_33 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_33 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imObjectImage_33 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_31 { display: block; position: relative; overflow: hidden; }
#imCellStyle_31 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_31 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_31 { width: 100%; vertical-align: top; max-width: 150px; }
#imCell_37 { display: block; position: relative; overflow: hidden; }
#imCellStyle_37 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_37 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imCell_40 { display: block; position: relative; overflow: hidden; }
#imCellStyle_40 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_40 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
#imCell_38 { display: block; position: relative; overflow: hidden; }
#imCellStyle_38 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_38 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
@media (min-width: 1330px) {
	.imContentDataContainer { width: 1319px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 1319px; }
	#imGroup_2 { width: 988px; }
	#imGroup_3 { width: 747px; }
	#imGroup_4 { width: 747px; }
	#imCell_2 { width: 152px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 152px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_5 { width: 310px; }
	#imCell_4 { width: 152px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 152px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 154px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 154px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 152px; min-height: 50px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 152px; min-height: 50px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_6 { width: 129px; height: 52px; }
	#imCell_34 { width: 745px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 745px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_7 { width: 747px; }
	#imCell_3 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_3 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 3px; right: 3px; }
	#imCell_22 { width: 150px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_22 { width: 150px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 3px; right: 3px; }
	#imGroup_8 { width: 308px; }
	#imCell_6 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_6 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 3px; right: 3px; }
	#imCell_9 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_9 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 3px; right: 3px; }
	#imGroup_9 { width: 129px; height: 60px; }
	#imCell_35 { width: 745px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 745px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_10 { width: 747px; }
	#imCell_12 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_12 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 3px; right: 3px; }
	#imCell_26 { width: 150px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_26 { width: 150px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 3px; right: 3px; }
	#imCell_27 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_27 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 3px; right: 3px; }
	#imCell_11 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_11 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 3px; right: 3px; }
	#imGroup_11 { width: 129px; height: 60px; }
	#imCell_36 { width: 745px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 745px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_12 { width: 747px; }
	#imGroup_13 { width: 618px; }
	#imCell_23 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_23 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 3px; right: 3px; }
	#imGroup_14 { width: 464px; }
	#imCell_28 { width: 152px; min-height: 58px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 152px; min-height: 58px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 154px; min-height: 58px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 154px; min-height: 58px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 148px; min-height: 54px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_31 { width: 148px; min-height: 54px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 3px; right: 3px; }
	#imGroup_15 { width: 129px; height: 60px; }
	#imCell_37 { width: 745px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 745px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_16 { width: 747px; height: 20px; }
	#imCell_40 { width: 239px; min-height: 630px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_40 { width: 239px; min-height: 630px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 1px; right: 1px; }
	#imCell_38 { width: 331px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 331px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 1329px) and (min-width: 1030px) {
	.imContentDataContainer { width: 1020px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 1020px; }
	#imGroup_2 { width: 764px; }
	#imGroup_3 { width: 578px; }
	#imGroup_4 { width: 578px; }
	#imCell_2 { width: 117px; min-height: 40px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 117px; min-height: 40px; padding: 0px 0px 1px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_5 { width: 240px; }
	#imCell_4 { width: 117px; min-height: 40px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 117px; min-height: 40px; padding: 0px 0px 1px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 119px; min-height: 40px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 119px; min-height: 40px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 117px; min-height: 40px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 117px; min-height: 40px; padding: 0px 0px 1px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_6 { width: 100px; height: 42px; }
	#imCell_34 { width: 576px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 576px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_7 { width: 578px; }
	#imCell_3 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_3 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 2px; right: 2px; }
	#imCell_22 { width: 117px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_22 { width: 117px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 2px; right: 2px; }
	#imGroup_8 { width: 238px; }
	#imCell_6 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_6 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 2px; right: 2px; }
	#imCell_9 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_9 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 2px; right: 2px; }
	#imGroup_9 { width: 100px; height: 49px; }
	#imCell_35 { width: 576px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 576px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_10 { width: 578px; }
	#imCell_12 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_12 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 2px; right: 2px; }
	#imCell_26 { width: 117px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_26 { width: 117px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 2px; right: 2px; }
	#imCell_27 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_27 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 2px; right: 2px; }
	#imCell_11 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_11 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 2px; right: 2px; }
	#imGroup_11 { width: 100px; height: 49px; }
	#imCell_36 { width: 576px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 576px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_12 { width: 578px; }
	#imGroup_13 { width: 478px; }
	#imCell_23 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_23 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 2px; right: 2px; }
	#imGroup_14 { width: 359px; }
	#imCell_28 { width: 117px; min-height: 47px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 117px; min-height: 47px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 119px; min-height: 47px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 119px; min-height: 47px; padding: 0px 0px 7px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 115px; min-height: 43px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_31 { width: 115px; min-height: 43px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 2px; right: 2px; }
	#imGroup_15 { width: 100px; height: 49px; }
	#imCell_37 { width: 576px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 576px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_16 { width: 578px; height: 63px; }
	#imCell_40 { width: 184px; min-height: 630px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_40 { width: 184px; min-height: 630px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 1px; right: 1px; }
	#imCell_38 { width: 256px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 256px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 1029px) and (min-width: 800px) {
	.imContentDataContainer { width: 788px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 788px; }
	#imGroup_2 { width: 590px; }
	#imGroup_3 { width: 446px; }
	#imGroup_4 { width: 446px; }
	#imCell_2 { width: 90px; min-height: 30px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 90px; min-height: 30px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_5 { width: 185px; }
	#imCell_4 { width: 90px; min-height: 30px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 90px; min-height: 30px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 91px; min-height: 30px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 91px; min-height: 30px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 90px; min-height: 30px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 90px; min-height: 30px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_6 { width: 77px; height: 32px; }
	#imCell_34 { width: 444px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 444px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_7 { width: 446px; }
	#imCell_3 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_3 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 2px; right: 2px; }
	#imCell_22 { width: 89px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_22 { width: 89px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 2px; right: 2px; }
	#imGroup_8 { width: 184px; }
	#imCell_6 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_6 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 2px; right: 2px; }
	#imCell_9 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_9 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 2px; right: 2px; }
	#imGroup_9 { width: 77px; height: 40px; }
	#imCell_35 { width: 444px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 444px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_10 { width: 446px; }
	#imCell_12 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_12 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 2px; right: 2px; }
	#imCell_26 { width: 89px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_26 { width: 89px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 2px; right: 2px; }
	#imCell_27 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_27 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 2px; right: 2px; }
	#imCell_11 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_11 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 2px; right: 2px; }
	#imGroup_11 { width: 77px; height: 40px; }
	#imCell_36 { width: 444px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 444px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_12 { width: 446px; }
	#imGroup_13 { width: 369px; }
	#imCell_23 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_23 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 2px; right: 2px; }
	#imGroup_14 { width: 277px; }
	#imCell_28 { width: 90px; min-height: 38px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 90px; min-height: 38px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 91px; min-height: 38px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 91px; min-height: 38px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 88px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_31 { width: 88px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 2px; right: 2px; }
	#imGroup_15 { width: 77px; height: 40px; }
	#imCell_37 { width: 444px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 444px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_16 { width: 446px; height: 100px; }
	#imCell_40 { width: 142px; min-height: 630px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_40 { width: 142px; min-height: 630px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 1px; right: 1px; }
	#imCell_38 { width: 198px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 198px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 799px) and (min-width: 480px) {
	.imContentDataContainer { width: 471px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imGroup_1 { width: 468px; }
	#imGroup_2 { width: 350px; }
	#imGroup_3 { width: 350px; }
	#imGroup_4 { width: 350px; }
	#imCell_2 { width: 68px; min-height: 23px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_2 { width: 68px; min-height: 23px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 1px; right: 1px; }
	#imGroup_5 { width: 140px; }
	#imCell_4 { width: 68px; min-height: 23px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_4 { width: 68px; min-height: 23px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 1px; right: 1px; }
	#imCell_5 { width: 68px; min-height: 23px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_5 { width: 68px; min-height: 23px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 1px; right: 1px; }
	#imCell_25 { width: 68px; min-height: 23px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_25 { width: 68px; min-height: 23px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_25 { left: 1px; right: 1px; }
	#imGroup_6 { width: 70px; height: 25px; }
	#imCell_34 { width: 351px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_34 { width: 351px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_34 { left: 1px; right: 1px; }
	#imGroup_7 { width: 350px; }
	#imCell_3 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_3 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 1px; right: 1px; }
	#imCell_22 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_22 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_22 { left: 1px; right: 1px; }
	#imGroup_8 { width: 140px; }
	#imCell_6 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_6 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 1px; right: 1px; }
	#imCell_9 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_9 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 1px; right: 1px; }
	#imGroup_9 { width: 70px; height: 33px; }
	#imCell_35 { width: 351px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_35 { width: 351px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_35 { left: 1px; right: 1px; }
	#imGroup_10 { width: 350px; }
	#imCell_12 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_12 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_12 { left: 1px; right: 1px; }
	#imCell_26 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_26 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_26 { left: 1px; right: 1px; }
	#imCell_27 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_27 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_27 { left: 1px; right: 1px; }
	#imCell_11 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_11 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_11 { left: 1px; right: 1px; }
	#imGroup_11 { width: 70px; height: 33px; }
	#imCell_36 { width: 351px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_36 { width: 351px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_36 { left: 1px; right: 1px; }
	#imGroup_12 { width: 350px; }
	#imGroup_13 { width: 280px; }
	#imCell_23 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_23 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_23 { left: 1px; right: 1px; }
	#imGroup_14 { width: 210px; }
	#imCell_28 { width: 68px; min-height: 31px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_28 { width: 68px; min-height: 31px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_28 { left: 1px; right: 1px; }
	#imCell_33 { width: 68px; min-height: 31px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_33 { width: 68px; min-height: 31px; padding: 0px 0px 8px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_33 { left: 1px; right: 1px; }
	#imCell_31 { width: 68px; min-height: 27px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_31 { width: 68px; min-height: 27px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_31 { left: 1px; right: 1px; }
	#imGroup_15 { width: 70px; height: 33px; }
	#imCell_37 { width: 351px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_37 { width: 351px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_37 { left: 1px; right: 1px; }
	#imGroup_16 { width: 353px; height: 128px; }
	#imCell_40 { display: none; }
	#imCell_40 { width: -2px; min-height: -2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_40 { width: -2px; min-height: -2px; padding: 0px 0px -632px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 1px; right: 1px; }
	#imCell_38 { width: 118px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_38 { width: 118px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_38 { left: 0px; right: 0px; }
	
}

@media (max-width: 479px) {
	.imContentDataContainer { width: 100%; }
	#imGroup_1 { width: 100%; clear: left; }
	#imGroup_2 { width: 100%; clear: right; }
	#imGroup_3 { width: 100%; clear: left; }
	#imGroup_4 { width: 100%; clear: left; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_2 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_2 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_5 { width: 100%; clear: left; }
	#imCell_4 { clear: right; }
	#imCell_4 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_4 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_4 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_5 { clear: right; }
	#imCell_5 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_5 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_5 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_25 { clear: left; }
	#imCell_25 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_25 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_25 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_6 { display: none; clear: left; }
	#imCell_34 { clear: left; }
	#imCell_34 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_34 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_34 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_7 { width: 100%; clear: left; }
	#imCell_3 { clear: left; }
	#imCell_3 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_3 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_3 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imCell_22 { clear: left; }
	#imCell_22 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_22 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_22 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_8 { width: 100%; clear: left; }
	#imCell_6 { clear: right; }
	#imCell_6 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_6 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_6 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imCell_9 { clear: right; }
	#imCell_9 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_9 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_9 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_9 { display: none; clear: left; }
	#imCell_35 { clear: left; }
	#imCell_35 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_35 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_35 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_10 { width: 100%; clear: left; }
	#imCell_12 { clear: left; }
	#imCell_12 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_12 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_12 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imCell_26 { clear: left; }
	#imCell_26 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_26 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_26 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imCell_27 { clear: left; }
	#imCell_27 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_27 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_27 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imCell_11 { clear: left; }
	#imCell_11 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_11 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_11 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_11 { display: none; clear: left; }
	#imCell_36 { clear: left; }
	#imCell_36 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_36 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_36 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_12 { width: 100%; clear: left; }
	#imGroup_13 { width: 100%; clear: left; }
	#imCell_23 { clear: right; }
	#imCell_23 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_23 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_23 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_14 { width: 100%; clear: right; }
	#imCell_28 { clear: left; }
	#imCell_28 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_28 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_28 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_33 { clear: left; }
	#imCell_33 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_33 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_33 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_31 { clear: left; }
	#imCell_31 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_31 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_31 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_15 { display: none; clear: left; }
	#imCell_37 { clear: left; }
	#imCell_37 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_37 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_37 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_16 { display: none; clear: left; }
	#imCell_40 { display: none; clear: left; }
	#imCell_40 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_40 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_40 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imCell_38 { display: none; clear: right; }
	#imCell_38 { width: 100%; min-height: 2px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imCellStyle_38 { width: 100%; min-height: 0px; padding: 1px 1px 1px 1px; }
	#imCellStyleGraphics_38 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	
}

@media (min-width: 1330px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 1329px) and (min-width: 1030px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 1029px) and (min-width: 800px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 799px) and (min-width: 480px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 479px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 100%; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_1 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_1 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

