h1#imPgTitle { position: relative; float: left; }
#imHeader_imCell_1 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_01 {overflow: hidden; text-align: left; }
#imHeader_imObjectTitle_01_text {font: normal normal bold 16pt 'Verdana';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_01_text,
#imHeader_imObjectTitle_01_text a { color: #000000; white-space: pre; }
#imHeader_imObjectTitle_01_text a{ text-decoration: none; }
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imCell_40 { display: block; position: relative; overflow: hidden; }
#imCellStyle_40 { position: relative; box-sizing: border-box; text-align: left; z-index: 2;}
#imCellStyleGraphics_40 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imGroup_2 > div { float: left; }
#imGroup_3 > div { float: left; }
#imCell_41 { display: block; position: relative; overflow: hidden; }
#imCellStyle_41 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_41 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_5_41 { width: 100%; vertical-align: top; max-width: 286px; }
#imCell_42 { display: block; position: relative; overflow: hidden; }
#imCellStyle_42 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_42 { position: absolute; top: 1px; bottom: 1px; background-color: transparent; }
@media (min-width: 1270px) {
	.imContentDataContainer { width: 1269px; margin-left: auto; margin-right: auto; padding: 0 0px 0 0px; }
	#imPgTitle { width: 1255px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 1269px; }
	#imCell_40 { width: 321px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_40 { width: 321px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 0px; right: 0px; }
	#imGroup_2 { width: 948px; }
	#imGroup_3 { width: 948px; }
	#imCell_41 { width: 463px; min-height: 56px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_41 { width: 463px; min-height: 56px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_41 { left: 3px; right: 3px; }
	#imGroup_4 { width: 479px; height: 62px; }
	#imCell_42 { width: 946px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_42 { width: 946px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_42 { left: 1px; right: 1px; }
	#imGroup_5 { width: 948px; height: 475px; }
	
}

@media (max-width: 1269px) and (min-width: 1030px) {
	.imContentDataContainer { width: 1020px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imPgTitle { width: 1006px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 1020px; }
	#imCell_40 { width: 258px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_40 { width: 258px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 0px; right: 0px; }
	#imGroup_2 { width: 762px; }
	#imGroup_3 { width: 762px; }
	#imCell_41 { width: 373px; min-height: 56px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_41 { width: 373px; min-height: 56px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_41 { left: 2px; right: 2px; }
	#imGroup_4 { width: 385px; height: 62px; }
	#imCell_42 { width: 760px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_42 { width: 760px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_42 { left: 1px; right: 1px; }
	#imGroup_5 { width: 762px; height: 475px; }
	
}

@media (max-width: 1029px) and (min-width: 800px) {
	.imContentDataContainer { width: 790px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imPgTitle { width: 776px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 790px; }
	#imCell_40 { width: 200px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_40 { width: 200px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 0px; right: 0px; }
	#imGroup_2 { width: 590px; }
	#imGroup_3 { width: 590px; }
	#imCell_41 { width: 288px; min-height: 55px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_41 { width: 288px; min-height: 55px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_41 { left: 2px; right: 2px; }
	#imGroup_4 { width: 298px; height: 61px; }
	#imCell_42 { width: 588px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_42 { width: 588px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_42 { left: 1px; right: 1px; }
	#imGroup_5 { width: 590px; height: 476px; }
	
}

@media (max-width: 799px) and (min-width: 480px) {
	.imContentDataContainer { width: 470px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imPgTitle { width: 456px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 470px; }
	#imCell_40 { width: 119px; min-height: 632px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imCellStyle_40 { width: 119px; min-height: 632px; padding: 1px 1px 1px 1px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_40 { left: 0px; right: 0px; }
	#imGroup_2 { width: 351px; }
	#imGroup_3 { width: 351px; }
	#imCell_41 { width: 172px; min-height: 35px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_41 { width: 172px; min-height: 35px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_41 { left: 1px; right: 1px; }
	#imGroup_4 { width: 177px; height: 41px; }
	#imCell_42 { width: 349px; min-height: 93px;  padding-top: 1px; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_42 { width: 349px; min-height: 93px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_42 { left: 1px; right: 1px; }
	#imGroup_5 { width: 351px; height: 496px; }
	
}

@media (max-width: 479px) {
	.imContentDataContainer { width: 100%; }
	#imPgTitle { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imGroup_1 { width: 100%; clear: left; }
	#imCell_40 { display: none; clear: left; }
	#imCell_40 { width: 100%; min-height: 2px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imCellStyle_40 { width: 100%; min-height: 0px; padding: 1px 1px 1px 1px; }
	#imCellStyleGraphics_40 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imGroup_2 { width: 100%; clear: left; }
	#imGroup_3 { width: 100%; clear: left; }
	#imCell_41 { clear: left; }
	#imCell_41 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_41 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_41 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_4 { display: none; clear: left; }
	#imCell_42 { clear: left; }
	#imCell_42 { width: 100%; min-height: 2px;  padding-top: 1px; padding-bottom: 1px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_42 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imCellStyleGraphics_42 { top: 1px; bottom: 1px; left: 5px; right: 5px; }
	#imGroup_5 { display: none; clear: left; }
	
}

@media (min-width: 1270px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 1269px) and (min-width: 1030px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 1029px) and (min-width: 800px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 799px) and (min-width: 480px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 246px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 246px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

@media (max-width: 479px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 0px; left: 5px; width: 246px; height: 55px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 100%; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_1 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_1 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px; left: 0px; }
	#imHeader_imObjectTitle_01 {min-height: 25px; }
	
}

